body{
	/*background-image: url('../img/web/fondo_1.gif');
	background-image: url('../img/web/fondo_2.jpg');
	background-image: url('../img/web/fondo_3.jpg');
	background-image: url('../img/web/fondo_4.jpg');
	background-image: url('../img/web/fondo_5.jpg');
	background-image: url('../img/web/fondo_6.jpg');
	background-image: url('../img/web/fondo_7.png');
	background-image: url('../img/web/fondo_8.jpg'); */
}
